{% extends "./layout/layout.html"%}

{% block maincontent %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{url_for('static',filename='dist/img/user4-128x128.jpg')}}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{user.fullname}}</h3>

                <p class="text-muted text-center">Software Engineer</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

    
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Firstname</strong>
                <p class="text-muted">
                  {{profile.first_name}}   
                </p>
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Lastname</strong>
                <p class="text-muted">
                  {{profile.last_name}}
                </p>
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Address</strong>
              
                <p class="text-muted">
                  {{profile.address}}
                </p>
       
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Occupation</strong>
               
                <p class="text-muted">
                  {{profile.occupation}}
                </p>
            
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Birthday</strong>
            
                <p class="text-muted">
                  {{profile.birthday}}
                </p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
           
                <p class="text-muted">
                  {{profile.skills}}
                </p>
       
                <hr>

              </div>
              <!-- /.card-body -->
            </div>
       



         
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li> -->
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                      <form action="/tweet" class="form-horizontal" method="post">   <!-- methodをpostにすに設定-->
                        <div class="input-group input-group-sm mb-0">
                          <input name="post" class="form-control form-control-sm" name="post" placeholder="Tweet">
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Tweet</button>
                          </div>
                        </div>
                      </form>
                      <br>

                      {% for post in posts %}
                    <!-- Post -->
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{url_for('static',filename='dist/img/user1-128x128.jpg')}}" alt="user image">
                        <span class="username">
                          <a href="#">{{post.author.fullname}}</a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                        <span class="description">Shared publicly - 7:30 PM today</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        {{post.post}}
                      </p>

                      <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                        </span>
                      </p>
                  
                      {% for comment in post.comments %}
                      <p>
                        {{comment.comment}}
                      </p>
                      {% endfor %}
                      <form action="/comment" class="form-horizontal" method="post">
                        <div class="input-group input-group-sm mb-0">
                          <input type="text" name="id" value="{{post.id}}" hidden>
                          <input name="comment" class="form-control form-control-sm" name="comment" placeholder="Type your comment">
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Comment</button>
                          </div>
                        </div>
                      </form>

                      {% endfor %}
                    </div>
                  



                    <div class="tab-pane" id="settings" >
                      <form action="/about" class="form-horizontal" method="post">
                        <div class="form-group row">
                          <label for="inputFastname" class="col-sm-2 col-form-label">Firstname</label>
                          <div class="col-sm-10">
                            <input type="name" name="first_name" class="form-control" id="inputFastname" placeholder="firstname">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputLastname" class="col-sm-2 col-form-label">Lastname</label>
                          <div class="col-sm-10">
                            <input type="name" name="last_name" class="form-control" id="inputLastname" placeholder="lastname">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                          <div class="col-sm-10">
                            <input type="text" name="address" class="form-control" id="inputAddress" placeholder="address">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputOccupation" class="col-sm-2 col-form-label">Occupation</label>
                          <div class="col-sm-10">
                            <input type="text" name="occupation" class="form-control" id="inputOccupation" placeholder="occupation">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputBirthday" class="col-sm-2 col-form-label">Birthday</label>
                          <div class="col-sm-10">
                            <input type="text" name="birthday" class="form-control" id="inputBirthday" placeholder="birthday">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                          <div class="col-sm-10">
                            <input type="text" name="skills" class="form-control" id="inputSkills" placeholder="Skills">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-2 col-sm-10">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>


                    
                    <!-- /.post -->

                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}